<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["title"] - Admin | AnNguyen-Shopper</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/backend/css/style.css">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="navigation">
                        <ul>
                            <li></li>
                            <li>
                                <a asp-area="default" asp-action="Index" asp-controller="Home">
                                    <img src="~/images/logo_vtnn.jpg" width="40%" />
                                    <span class="title">ADMIN</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="DashBoard">
                                    <span class="icon">
                                        <ion-icon name="home-outline"></ion-icon>
                                    </span>
                                    <span class="title">Dashboard</span>
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Product">
                                    <span class="icon">
                                        <i class="fa fa-gift"></i>
                                    </span>
                                    <span class="title">Product</span>
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Category">
                                    <span class="icon">
                                        <i class="fa fa-folder"></i>
                                    </span>
                                    <span class="title">Category</span>
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Brand">
                                    <span class="icon">
                                        <i class="fa fa-certificate"></i>
                                    </span>
                                    <span class="title">Brand</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Oder">
                                    <span class="icon">
                                        <i class="fa fa-shopping-cart"></i>
                                    </span>
                                    <span class="title">Oder</span>
                                </a>
                            </li>

                            <li>
                                <a asp-action="Index" asp-controller="User">
                                    <span class="icon">
                                        <ion-icon name="people-outline"></ion-icon>
                                    </span>
                                    <span class="title">User Manager</span>
                                </a>
                            </li>

                            <li>
                                <a asp-action="Index" asp-controller="Post">
                                    <span class="icon">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <span class="title">Blog Manager</span>
                                </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Logout">
                                    <span class="icon">
                                        <ion-icon name="log-out-outline"></ion-icon>
                                    </span>
                                    <span class="title">Sign Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-10 offset-sm-2">
                    @Html.Partial("_HeaderPartical")
                    @Html.Partial("_NotificationPartial")
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/backend/js/site.js"></script>
    <script src="~/backend/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required:false)
</body>
</html>