@model ProductModel
@{
    ViewData["Title"] = "Edit Product";
}

<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <!-- Thay thế trường Description bằng CKEditor -->
            <textarea id="Description" asp-for="Description" name="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories" name="CategoryId">
                <option value="">--Choose Category--</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Brand</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands" name="BrandId">
                <option value="">--Choose Brand--</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" asp-for="ImageUpload" class="form-control-file" />
            <span asp-validation-for="ImageUpload" class="text-danger"></span>
            <img src="~/media/products/@Model.Image" width="100">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-sm">Update Product</button>
        </div>
    </form>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    <!-- Đường dẫn đến tập tin JavaScript của CKEditor -->
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

    <script>
        // Khi tài liệu được tải hoàn toàn
        document.addEventListener("DOMContentLoaded", function () {
            // Thay thế trường Description bằng CKEditor
            CKEDITOR.replace('Description');
        });
    </script>

}
