
<h1>Chính sách đổi trả</h1>

<p><strong>1. Đổi sản phẩm:</strong> Chúng tôi chấp nhận việc đổi sản phẩm trong vòng 30 ngày kể từ ngày nhận hàng. Sản phẩm cần phải còn mới, không sử dụng và trong tình trạng ban đầu.</p>

<p>
    <strong>2. Điều kiện đổi trả:</strong> Để đảm bảo quá trình đổi trả diễn ra một cách suôn sẻ, bạn cần tuân thủ các điều kiện sau:
    <ul>
        <li>Sản phẩm cần phải còn trong bao bì gốc và không bị hỏng.</li>
        <li>Phiếu mua hàng hoặc hóa đơn cần được cung cấp.</li>
        <li>Sản phẩm không được sử dụng hoặc bị hỏng do sử dụng sai cách.</li>
    </ul>
</p>

<p><strong>3. Thời gian xử lý đổi trả:</strong> Chúng tôi sẽ xem xét yêu cầu đổi trả của bạn trong vòng 3-5 ngày làm việc sau khi nhận được sản phẩm trả lại. Sau đó, chúng tôi sẽ thông báo cho bạn về kết quả.</p>

<p><strong>4. Trả tiền:</strong> Chúng tôi sẽ hoàn tiền cho bạn trong trường hợp sản phẩm bị hỏng hoặc không đúng với đặt hàng của bạn. Tiền hoàn trả sẽ được chuyển vào tài khoản ngân hàng của bạn hoặc trả lại bằng cách bạn đã thanh toán ban đầu.</p>

<p><em>Xin vui lòng liên hệ với chúng tôi qua số điện thoại: 123-456-7890 hoặc email: customer.service@company.com để yêu cầu đổi trả hoặc có thêm thông tin chi tiết.</em></p>
