
<h1>Chính sách bảo mật</h1>

<p><strong>Thông tin cá nhân:</strong></p>
<p>Chúng tôi cam kết bảo vệ thông tin cá nhân của khách hàng. Mọi thông tin được thu thập sẽ được sử dụng một cách an toàn và chỉ để mục đích xác định khách hàng và cung cấp dịch vụ.</p>

<p><strong>Thu thập thông tin:</strong></p>
<p>Chúng tôi có thể thu thập thông tin như tên, địa chỉ email, địa chỉ giao hàng, và thông tin thanh toán khi khách hàng đăng ký mua hàng hoặc đăng ký nhận tin tức và khuyến mãi.</p>

<p><strong>Bảo mật dữ liệu:</strong></p>
<p>Chúng tôi sử dụng các biện pháp bảo mật để đảm bảo thông tin cá nhân của khách hàng không bị mất mát, lạc hướng, hoặc truy cập trái phép. Thông tin này được lưu trữ trên máy chủ bảo mật và chỉ có nhân viên có quyền truy cập.</p>

<p><strong>Chia sẻ thông tin:</strong></p>
<p>Chúng tôi không chia sẻ thông tin cá nhân của khách hàng với bất kỳ bên thứ ba nào ngoại trừ những bên cung cấp dịch vụ cần thiết để thực hiện đơn hàng, chẳng hạn như dịch vụ giao hàng.</p>

<p><strong>Liên hệ và yêu cầu cập nhật thông tin:</strong></p>
<p>Khách hàng có quyền liên hệ với chúng tôi để yêu cầu cập nhật hoặc xóa thông tin cá nhân của họ khỏi hệ thống của chúng tôi.</p>

<p><em>Xin vui lòng đọc kỹ chính sách bảo mật trước khi sử dụng trang web của chúng tôi. Nếu bạn có bất kỳ câu hỏi hoặc cần thêm thông tin, vui lòng liên hệ với chúng tôi qua số điện thoại: 123-456-7890 hoặc email: privacy@company.com.</em></p>

